@font-face {
    font-family: poppins-bold;
    src: url('./src/assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: poppins;
    src: url('./src/assets/fonts/Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: fa-b;
    src: url('./src/assets/fonts/fa-brands-400.ttf');
}

@font-face {
    font-family:fa-s ;
    src: url('./src/assets/fonts/fa-solid-900.ttf');
}
